<div>
  <h4> Hellow, <%= current_user.username %></h4>
</div>
<h1>Listing bids</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Price</th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%=h bid.name %></td>
    <td><%=h bid.desc %></td>
    <td><%=h bid.price %></td>
    <td><%= link_to 'Show', bid %></td>
    <% if can? :update, bid -%>
      <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <% end -%>
    <% if can? :destroy, bid -%>
      <td><%= link_to 'Destroy', bid, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end -%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bid', new_bid_path %>
